<div th:fragment="admin_sidebar">
    <aside class="bg-gray text-white vh-100 p-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a th:href="@{/home}" class="nav-link text-white">
                    <i class="bi bi-person-fill"></i> ← Back to home page
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/users}" class="nav-link text-white">
                    <i class="bi bi-person-fill"></i> Users
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/medias}" class="nav-link text-white">
                    <i class="bi bi-camera-fill"></i> Medias
                </a>
            </li>
        </ul>
    </aside>
</div>
