<div th:fragment="admin_sidebar">
    <aside class="bg-gray text-white vh-100 p-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="/home" class="logo">
                    <img src="/assets/logo.png" alt="Film Addicted Logo">
                    <div class="logo-text">
                        <span class="title">Film Addicted</span>
                        <span class="tagline">Can't take my eyes off films</span>
                    </div>
                </a>
            </li>
            <br/>
            <li class="nav-item">
                <a th:href="@{/admin/users}" class="nav-link text-white d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill me-2" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a th:href="@{/admin/medias}" class="nav-link text-white d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-film me-2" viewBox="0 0 16 16">
                        <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm4 0v6h8V1zm8 8H4v6h8zM1 1v2h2V1zm2 3H1v2h2zM1 7v2h2V7zm2 3H1v2h2zm-2 3v2h2v-2zM15 1h-2v2h2zm-2 3v2h2V4zm2 3h-2v2h2zm-2 3v2h2v-2zm2 3h-2v2h2z"/>
                    </svg>Medias
                </a>
            </li>
        </ul>
    </aside>
</div>
