<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <footer class="footer">
        <div class="d-flex justify-content-center align-items-center gap-3 my-4">
            <img src="/assets/logo.png" alt="Film Addicted Logo" style="height: 30px;">
            <h3 class="text-white mb-0">Thanks For Watching Us</h3>
        </div>

        <p>&copy; 2025 Film Addicted. All rights reserved.</p>
        <p>
            Film Addicted - A site to watch high-quality online movies for free with Vietsub, voiceover, full HD dubbing.
            A huge library of new movies, movies in theaters, series, movies from many countries such as Vietnam, Korea,
            China, Thailand, Japan, Europe and America... with diverse genres. Discover the best online movie platform in
            2025 with 4K quality!
        </p>
    </footer>
</div>
</html>
