<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <header class="navbar">
        <div class="navbar-left">
            <a href="/home" class="logo">
                <img src="/assets/logo.png" alt="Film Addicted Logo">
                <div class="logo-text">
                    <span class="title">Film Addicted</span>
                    <span class="tagline">Can't take my eyes off films</span>
                </div>
            </a>
        </div>

        <div class="search-bar" style="width: 400px;">
            <form action="/search" method="get" class="d-flex" role="search">
                <input class="form-control rounded w-100" type="search" name="q" placeholder="Search..."
                       aria-label="Search">
            </form>
        </div>


        <nav class="navbar-menu">
            <a href="/movies">Movies</a>
            <a href="/series">Series</a>
            <a href="/genres">Genres</a>
            <a href="/lastestrelease">Latest Release</a>
        </nav>

        <div class="auth-buttons">
            <span th:if="${user != null and user.username != null}" style="margin-right: 10px; color: #fff;">
                    Welcome, <b th:text="${user.username}"></b>
            </span>

            <a th:if="${user != null and user.username != null}" href="/profile" class="profile-link"
               style="margin-right: 10px;">
                <img th:if="${user.avatar != null}" src="${user.avatar}" class="profile-icon" alt="Profile"/>
                <img th:if="${user.avatar == null}" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-tuRFyRupR6eIMCFvaXBnVWJ9x9ghHyZ1IQ&s" class="profile-icon" alt="Profile"/>
            </a>

            <a th:if="${user != null and user.username != null}" href="/logout" class="btn logout">Logout</a>
            <a th:if="${user == null or user.username == null}" href="/login" class="btn login">Login</a>

        </div>
    </header>
</div>
</html>
