<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">All Films</title>
    <link rel="icon" type="image/png" href="/assets/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/history.css">
</head>

<!-- Navbar -->
<div th:insert="fragments/navbar :: navbar"></div>

<div id="wrapper" class="account-wrap">
    <div class="dashboard-container">
        <div th:insert="fragments/profilesidebar :: sidebar"></div>
        <div class="dcc-main">
            <div class="cg-body-box py-0 is-profile">

                <div class="box-body">
                        <h4 class="mb-4 text-white">Your Notifications</h4>

                        <ul class="list-group list-group-flush">
                            <li th:each="noti : ${notification_page}"
                                class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white"
                                style="border-color: #444;">

                                <a th:href="@{'/notification/read/' + ${noti.id}}"
                                   class="d-flex align-items-center text-decoration-none text-white w-100">

                                    <!-- Poster -->
                                    <img th:if="${noti.type != 'Mention'}"
                                         th:src="@{${noti.episode != null && noti.episode.media != null ? noti.episode.media.poster : '/assets/placeholder.jpg'}}"
                                         class="rounded me-3"
                                         style="width: 50px; height: 70px; object-fit: cover;" alt="Poster"/>
                                    <!-- Avatar -->
                                    <img th:if="${noti.type == 'Mention'}"
                                         th:src="@{${noti.triggeredBy.avatar != null ? noti.triggeredBy.avatar : '/assets/default-avatar.jpg'}}"
                                         alt="User Avatar"
                                         class="rounded-circle me-3"
                                         style="width: 45px; height: 45px; object-fit: cover;"/>
                                    <!-- Text -->
                                    <div>
                                        <div style="font-size: 0.9rem;" th:if="${noti.type == 'Episode'}">
                                            <strong th:text="${noti.episode.media.title}">Title</strong>
                                            <span> has been released new episode: </span>
                                            <strong th:text="'Episode ' + ${noti.episode.episodeNumber} + ' - Season ' + ${noti.episode.season}"></strong>
                                        </div>
                                        <div style="font-size: 0.9rem;" th:if="${noti.type == 'Mention'}">
                                            <strong th:text="${noti.triggeredBy.username}"></strong>
                                            <span> mentioned you in a reply on </span>
                                            <strong th:text="${noti.comment.media.title}"></strong>
                                        </div>
                                        <small style="color: #bbb"
                                               th:text="${#temporals.format(noti.createdAt, 'HH:mm dd/MM/yyyy')}"></small>
                                    </div>
                                </a>

                                <!-- Dot indicator -->
                                <div style="width: 16px; display: flex; align-items: center; justify-content: center;">
                                <span th:if="${!noti.read}"
                                    style="width: 10px; height: 10px; background-color: #0d6efd; border-radius: 50%; display: inline-block;">
                                </span>
                                </div>
                            </li>
                        </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Footer -->
<div th:insert="fragments/footer :: footer"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const currentPath = window.location.pathname;
        const menuItems = document.querySelectorAll(".menu-user .item");

        menuItems.forEach(item => {
            if (item.getAttribute("href") === currentPath) {
                item.classList.add("active");
            }
        });
    });
</script>
</html>
